*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body{
    height: 100%;

}

.center{
    max-width: 1280px;
    margin:0 auto;
    padding:0 2%;
}

.main{
    width: 100%;
    min-height: 100%;
    background-image: url('jj.jpeg');
    background-position: center;
    background-size:cover;
}

header{
    display: flex;
    justify-content: space-around;
}

.hamburguer{
    padding: 0 10px;
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    position: relative;
    right: 100px;
    margin-block: 13px;

}

.bar{
    display: block;
    width: 18px;
    height: 2px;
    transition: all .3s ease-in-out;
    background-color: #101010;
    margin-bottom: 3px;
}

.bar :hover{
    border-radius: 5px;
    background-color: rgba(150,150,150,0.4);
}


.logo{
    position: relative;
    top: -7px;
}

.logo img{
    width: 130px;

}

.menu{margin-top: 15px;}

.menu a{
    display: inline-block;
    margin: 0 10px;
    color: black;
    text-decoration: none;
    transition: 0.3s;
    padding: 3px 5px;
}

.menu a:hover{
    border-radius: 5px;
    background-color: rgba(150,150,150,0.4);
}


.title{
    text-align: center;

}

.title h2{color: black; font-size: 40px; letter-spacing: 1.2px;}
.title p{color: rgb(255, 255, 255); margin-top: 10px;}

.title p a{color:rgb(255, 255, 255);}


.btn {
    position: absolute;
    bottom: 100px;
    width: 100%;
    left: 0;
    text-align: center;
}

.btn a{
    display: inline-block;
    padding: 8px 80px;
    margin: 0 15px;
    background-color: #333;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}

.seta img{
    position: relative;
    top: 480px;
    width: 17px;
    right: 7px;
}

